body {
  background-color: #330324;
  font-family: sans-serif;
  font-size: 1.2em;
}

div.container {
  border: 5px double #330324;
  border-radius: 40px;
  background-color: #EEE0CB;
  margin: auto;
  width: 55%;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 0px;
  color: #330324;
}
h1 {
  padding-top: 1.5em;
  padding-bottom: 0.4em;
  margin:auto;
}

form {
  border: 5px double #330324;
  border-radius: 30px;
  background-color: #9daeb3;
  padding-top: 20px;
}

legend {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 1.05em;
  padding-left: 26px;
  padding-right: 26px;
}

label {
  font-variant: small-caps;
}

hr {
  border-bottom: 1px dotted #330324;
}


input {
  background-color: #d9c0bd;
  border-radius: 10px;
  color: #330324;
  font-weight: bold;
  text-align: center;
  font-size: 1.1em;
  padding: 5px;
}

input[type="number"] {
  padding-right:0px;
  padding-left: 15px;
  width: 18%;
}
input[type="text"] {
  width: 80%;
}



input[type="submit"]  {
  margin-top: 1em;
  margin-right: 4em;
  font-size: 1.5em;
  width: 3.5em;
  height: 1.5em;
  text-align: center;
}
input[type="submit"]:hover  {
  text-align: center;
  color: #9daeb3;
  background-color: #330324;
  font-weight: bolder;
  font-style: oblique;
}

li {
  list-style-type: none; /* Remove bullets */
  width: 100%;
}

p.source {
  font-style: italic;
  font-size: 0.8em;
}

li.outputBox {
  /* border: 5px double #330324; */
  text-align: center;
  margin-top: 0.5em;
  position: absolute;
  left:0;
  right:0;
}

.col {
  display: inline-block;
  vertical-align:top;
  white-space: nowrap;
  width: 40%;
  margin: 1em;
}

.name-output {
  font-size: 0.8em;
  font-style: italic;
}


#result.full{
  border: 5px double #330324;
  border-radius: 40px;
  background-color: #EEE0CB;
  font-weight: bold;
  padding: 8px;
  float: center;
}
